
<app-header></app-header>


<form [formGroup] = "chatFormGroup" (ngSubmit)="onSubmitToConnect()">
    <button type="button" class="btn btn-secondary">back</button>
    <input type="text" formControlName="sendTo" placeholder="Name...">
    <button type="submit" class="btn btn-primary" value="Send">create</button>
</form>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
            <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
            <ul>
                    <div class="card" *ngFor="let name of users">
                        <div class="card-body" (click)="receiverNow(name.receiver)">
                            <ul class="list-unstyled mb-0">
                            <li class="p-2 border-bottom" style="background-color: #eee;">
                                <a class="d-flex justify-content-between">
                                <div class="d-flex flex-row">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                                    class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                    <div class="pt-1">
                                    <p class="fw-bold mb-0">{{name.receiver}}</p>
                                    <p class="small text-muted">Hello, Are you there?</p>
                                    </div>
                                </div>
                                <div class="pt-1">
                                    <p class="small text-muted mb-1">Just now</p>
                                    <span class="badge bg-danger float-end">1</span>
                                </div>
                                </a>
                            </li>
                            </ul>
                      </div>
                  </div>
            </ul>
        </div>
        </div>
    </div>
  
  </section>