
<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
<div class="container">
    <div class="row">
      <div class="title">
        <h1>
          Let’s Login <br />
          to have <br />
          fantastic night!
        </h1>
      </div>
      <div class="user">
        <h1 class="user-label">Username</h1>
        <input class="input" type="email" formControlName="email" placeholder="Email..."/>
      </div>
      <div class="pass">
        <h1 class="pass-label">Password</h1>
        <input class="input" type="password" formControlName="password" placeholder="Password..."/>
      </div>
      <div class="login">
        <button  type="submit" class="login" [disabled]="loginFormGroup.invalid" >Login</button>
      </div>
      
    </div>
</div>
</form>
<div class="register">
    <button class="login" (click)="doRegister()">Register</button>
</div>
  
  
  